.file-drop-area {
	position: relative;
	display: flex;
	align-items: center;
	width: 450px;
	max-width: 100%;
	padding: 25px;
	transition: 0.2s;
}

.file-message {
	font-size: small;
	font-weight: 300;
	line-height: 1.4;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.file-input {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	opacity: 0;
}
